<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p th:if="${logout}" style="color:green">Deslogado com sucesso</p>
    <form th:action="@{/validaLogin}" method="post" >
        <label for="username">Username</label>
        <input type="text" id="login" name="login" placeholder="Digite o username...">
        <label for="senha">Senha</label>
        <input type="text" id="password" name="password" placeholder="Digite a senha...">
        <button type="submit">Login</button>
    </form>
    <p th:if="${erro}" style="color: red">Username ou senha incorreto</p>
    <form th:action="@{/addUser}" method="get">
        <button type="submit">Cadastre-se</button>
    </form>
</body>
</html>